/* Universal Styles */

body {
  background-color: #f8fcfb;
  font-family: 'Overpass', sans-serif;
  color: #4C4C4C;
}

h1, h2, h3, li {
  font-weight: 800;
  letter-spacing: .05rem;
}

p  {
  font-weight: 300;
}

p, footer {
  line-height: 1.5;
}

nav a, footer h2 a {
  text-decoration: none;
  color: #4C4C4C;
  transition: color .3s;
}

nav a:hover, footer h2 a:hover {
  color: #70C7B5;
}

div.cover-title {
  margin: auto;
}

/* Header Section */

header {
  padding: 2rem 5rem;
  display: flex;
}

header img {
  height: 200px;
}

nav {
  display: flex;
  align-items: flex-end;
  padding-bottom: .75rem;
  position: relative;
  right: 1rem;
}

nav li {
  margin-top: .75rem;
  font-size: 1.15rem;
}

/* Content Container */

div.content {
  padding: 3rem 5rem;
}

/* Artwork Section */

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.thumbnail {
  width: 32%;
  margin-bottom: 1rem;
}

.cover img {
  width: 100%;
  opacity: .7;
  transition: opacity .5s;
}

.cover img:hover {
  opacity: 1;
}

a.cover {
  text-decoration: none;
  color: #70C7B5;
  transition: color .5s;
}

a.cover:hover {
  color: #4C4C4C;
}

.cover h3 {
  font-size: 1rem;
  padding-left: 1rem;
}

/* Footer Section */

footer {
  padding: 3rem 5rem;
}

#social {
  display: flex;
  align-items: center;
}

#social img {
  height: 40px;
  padding-right: .5rem;
}

footer h2 {
  padding: .25rem 0;
  font-size: 1.25rem;
}

#social a {
  opacity: .8;
}

#social a:hover {
  opacity: 1;
}

/* Media Query */

@media only screen and (min-width: 501px) and (max-width: 900px){

  header {
    padding: 2rem 3rem;
  }

  div.content {
    padding: 3rem;
  }

  div.thumbnail {
    width: 48%;
  }

  footer {
    padding: 3rem;
  }
}

@media only screen and (min-width: 250px) and (max-width: 500px) {

  html {
    font-size: 12px;
  }

  header {
    padding: 2rem;
  }

  nav {
    right: 1.5rem;
  }

  div.content {
    padding: 2rem;
  }

  div.thumbnail {
    width: 100%;
  }

  footer {
    padding: 2rem;
  }

  #social img {
    height: 35px;
  }
}
