/* Universal Styles */

body {
  background-color: #f8fcfb;
  font-family: 'Overpass', sans-serif;
  color: #4C4C4C;
}

h1, h2, h3, li {
  font-weight: 800;
  letter-spacing: .05rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
}

p, span  {
  font-weight: 300;
  font-size: 1.25rem;
}

p, footer {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #4C4C4C;
}

a:hover {
  color: #70C7B5;
}

/* Header Section */

header {
  padding: 2rem 5rem;
  display: flex;
}

header img {
  height: 200px;
}

nav {
  display: flex;
  align-items: flex-end;
  padding-bottom: .75rem;
  position: relative;
  right: 1rem;
}

nav li {
  margin-top: .75rem;
  font-size: 1.15rem;
}

/* Content Container */

div.content {
  padding-left: 5rem;
  margin-top: 3rem;
}

/* Description Section */

div.description {
  width: 90%;
}
.description p {
  margin-top: 2rem;
}

/* Artwork Section */

div.gallery {
  margin-top: 4rem;
}

.gallery img {
  width: 85%;
  max-width: 1100px;
  display: block;
  margin: auto;
}

/* Footer Section */

footer {
  padding: 3rem 5rem;
}

#social {
  display: flex;
  align-items: center;
  margin-top: .25rem;
}

#social img {
  height: 40px;
  padding-right: .5rem;
}

footer h2 {
  padding: .25rem 0;
  font-size: 1.25rem;
}

#social a {
  opacity: .8;
}

#social a:hover {
  opacity: 1;
}

/* Media Query */

@media only screen and (min-width: 501px) and (max-width: 900px) {

  header {
    padding: 2rem 3rem;
  }

  div.content {
    padding-left: 3rem;
  }

  footer {
    padding: 3rem;
  }

}

@media only screen and (min-width: 250px) and (max-width: 500px) {

  html {
    font-size: 12px;
  }

  header {
    padding: 2rem;
  }

  nav {
    right: 1.5rem;
  }

  div.content {
    padding-left: 2rem;
  }

  footer {
    padding: 2rem;
  }

  #social img {
    height: 35px;
  }

}
